.message-bubble-inbound {
    border-radius: 1.5rem 1.5rem 1.5rem 0.25rem;
}
.message-bubble-outbound {
    border-radius: 1.5rem 1.5rem 0.25rem 1.5rem;
}
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #e0e3e6; border-radius: 10px; }
